#header {
    width: auto;
    border-bottom: 1px solid #000000;
    /*background-color: #f9f9f9;*/
    overflow: auto;
}
#header img {
    margin-left: 1.5%;
    margin-top: 1%;
    margin-bottom: 1.5%;
    padding: 10px;
    width: 15%; /*初定30%、15%*/
    box-shadow: inset 0px 0px 42px 0px #ABABAB, 5px 5px 22px 1px #242424; /*陰影*/
    -webkit-box-shadow: inset 0px 0px 42px 0px #ABABAB, 5px 5px 22px 1px #242424;
    -moz-box-shadow: inset 0px 0px 42px 0px #ABABAB, 5px 5px 22px 1px #242424;
    -o-box-shadow: inset 0px 0px 42px 0px #ABABAB, 5px 5px 22px 1px #242424;
    border-radius: 10px; /*橢圓角*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

}
#header_features {
    /*margin-right: 1.5%;*/
    margin-top: 1.2%;
    margin-bottom: 1.2%;
    /*margin-bottom: 2%;*/
    /*margin-bottom: 1.5%;*/
    float: right;
    padding: 0 30px;

}
.object_features{
    padding: 10px;
    margin: 5px;
    border: 1px solid #000000;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}
body {
    /*overflow: auto;*/
}

#slider_scroll {
    left: -180px;
    width: 180px;
    position: fixed;
    z-index: 9999;
}

#slider_content {
    text-align: center;
}

#slider_tab {
    position: absolute;
    right: -24px;
    width: 24px;
    height: 100%;
    color: #000000;
    text-align: center;
    padding: 9px 0;
}

#slider_tab span {
    display: block;
}

.navigation {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    background: #FFFFFF;
}

.nav-item a {
    display: block;
    padding: 1em;
    text-decoration: none;
    border: 1px solid #000000;
    color: black;
    font-size: large;
    font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.nav-item a:hover {
    background-color: #d62222;
    color: #fff;
}

#top_btn {
    z-index: 9999;
}


/*九宮格*/


#test1 td{



}

#test1 td span{
    /*color: #090;*/
    /*display:block;*/
    /*width: 60px;*/
    /*height: 60px;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*line-height: 50px;*/
    /*padding: 50px;*/
}

#test1 span:hover{
    /*border: 5px solid #f00;*/
    /*margin-top:-5px;*/
    /*margin-left: -5px;*/
}
.ui-dialog-titlebar-close{

}
