section{
    margin: 0;
    padding: 5% 30% 25% 30%;
}

#login_sign{
    border: 1px solid #eea236;
    padding: 30px;
    overflow: auto;

}
#user_label,#password_label{
    border: 1px solid #eea236;
    width: auto;
}

.login_text{
    border: 1px solid #eea236;
    position: relative;
    overflow: auto;
    right: 10%;
    left: 25%;
    width: 50%;
}
#btn_login{
    position: relative;
    margin: 15px 0 15px 15px;
    float: right;
}
#remember{
    position: relative;
    margin: 20px 0 0 0;
}